<!-- navbar -->
<app-navbar></app-navbar>

<!-- Your shows -->
<div class="p-4">Your Courses</div>
<ul>
  <li *ngFor="let course of thisUserCourses">
    <app-display-course [course]="course"></app-display-course>
  </li>
</ul>
<!-- All Courses -->
<div
  class="p-4" 
>All Courses</div>
<div class="flex justify-center items-center w-screen">
  <ul class="flex flex-col gap-4">
    <li *ngFor="let course of canBuyCourses">
      <app-display-course [course]="course"></app-display-course>
    </li>
  </ul>
</div>
